{:source-paths ["src"]
 :dependencies [[reagent "2.0.1"]
                [datascript "1.7.8"]
                [org.babashka/sci "0.12.51"]
                [zprint "1.2.9"]]
 :dev-http {8080 "public"}
 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn playground.core/init}}}}}
